{{ form_start(trickForm,{'attr':{'class':'col-sm-8 col-ml-8'}}) }}
<div class="m-3">
{{ form_label(trickForm.name)}}</br>
{{ form_widget(trickForm.name,{'attr':{'class':'form-control'}}) }}
</div>
<div class="m-3">
{{ form_label(trickForm.description)}}</br>
{{ form_widget(trickForm.description,{'attr':{'class':'form-control','rows':'5'}}) }}
</div>
<div class="m-3">
{{ form_label(trickForm.category)}}</br>
{{ form_widget(trickForm.category,{'attr':{'class':'form-control '}}) }}
</div>
<div class="m-3 row">
{{ form_label(trickForm.images)}}</br>
{{ form_widget(trickForm.images,{'attr':{'class':'form-control mb-1','onchange':'preview_image();','type':'file','accept':'image/*'}})}}
<div id="image_preview"class="d-flex justify-content-center"></div>
</div>
<div class="mx-3 row d-flex justify-content-start">
{{ form_label(trickForm.videos)}}
{{form_help(trickForm.videos,{'attr':{'class':'help'}})}}
<div class= "col-11">
<input id="trick_videos_0_path"name="trick[videos][0][path]"value="" class='form-control'/>
</div>
<div class="col-1">
<button class="mx-2 btn btn-outline-secondary addVideos"type="button"><i class="fas fa-plus text-right fa-sm"></i></button>
</div>
</div>
<div class="addFields"></div>
<div class="p-5 d-flex justify-content-center"><button class="btn btn-lg btn-primary" type="submit">Envoyer</button></div>
<div class='d-none'>
{{ form_row(trickForm.videos)}}
</div>
{{ form_end(trickForm) }}