{% extends 'base.html.twig' %}

{% block title %}{{trick.name|title|striptags}}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="flash-notice alert alert-success alert-dismissible fade show my-0 py-2" >
      <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
{% endfor %}
<main class='container' id="trick">
<section >
<!--main image-->
{% if trick.images is empty %}
<div class="p-5 mb-5 text-center mainImage " style="background-image: url(' {{asset('img/image_tricks/default.jpg')}}');">
     {% else %}
         <div class="p-5 mb-5 text-center mainImage " style="background-image: url(' {{asset('img/image_tricks/'~ trick.images.first.path)}}');">

  {% endif %}
      <h1 class="mt-5 mb-4 titleTrick">{{trick.name|title|striptags}}</h1>
    </div>
     {% if is_granted('ROLE_USER') %}
    <div class="text-end"> 
    <a href="{{ path('trick_edit', {'id': trick.id})}}"><button class="btn btn-sm btn-outline-secondary m-1"><i class="fas fa-pencil-alt text-right fa-sm"></i></button></a>
       {% include 'trick/_delete_form.html.twig' %}
  </div>
   {% endif %}
 
    </section>
      
   
    <section>
     <!-- Gallery -->
     <div class="d-flex justify-content-center" >
     <a id="galleryButton" class="flex col-4 mb-4 btn btn-primary d-md-none d-lg-none d-xl-none " data-bs-toggle="collapse" href="#gallery" role="button" aria-expanded="false" aria-controls="collapseExample">
      Voir les images </a>
    </div>
  <!--class collaspe when small screen-->
  <div id="gallery" class="collapse d-md-block d-lg-block d-xl-block">
  <div class="row d-flex justify-content-center">
  {% for image in trick.images %}
<div class="col-lg-2 col-sm-3 pb-4 mb-4 mb-lg-0">
  <div class="card mb-2">
    <img class="card-img-top" src="{{asset('img/image_tricks/'~ image.path)}}">
  </div>
</div> 
{% endfor %}
</div>
<div class="row d-flex justify-content-center">
  {% for video in trick.videos %}
<div class="col-lg-2 col-sm-3 pb-4 mb-4 mb-lg-0">
  <div class="card mb-2">
  <iframe class='embed-responsive-item'  src="https://www.youtube.com/embed/{{video.path|striptags}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> 
{% endfor %}

</div>
</section>
<!--content-->
<section class="d-flex justify-content-center">
<p class=" col-10 mb-4">{{trick.description|striptags}}</p>
</section>
  <!--badge-->
  <section class="text-center mb-4">
<span class="badge bg-secondary" title="le category">Catégorie: {{trick.category}}</span>
<span class="badge bg-secondary">Auteur: {{trick.user.username}}</span>
<span class="badge bg-secondary"title ="la date de création">Publié le {{trick.createDate|date("m/d/Y") }}</span>
<span class="badge bg-secondary" title ="la date de modification">Mis à jour le {{trick.updateDate|date("m/d/Y")}}</span>


</section>

<!--leave message-->
 {% if is_granted('ROLE_USER') %}
       {% include 'comment/_add_form.html.twig' %}
       {% else %}
       <div class="text-center " >
        <b>Veuillez vous connecter pour laisser un message.</b>
        </div>
        {% endif %}
  <hr class="dotted">
<!--comment-->
<section> 
<div class="container ">
{% if comments %}
{% for comment in comments%}
<div class="displayComments">
<div class=" row d-flex justify-content-center "  >
  <div class="col-md-1 col-2">
  <img src="{{asset('img/image_profiles/'~comment.user.image)}}" class="avatar text-right">
  </div>
  <div class="col-md-5 col-8">
  <div class=" bg-light px-2 p-1" style="border-radius: 10px;">
    <h6>{{comment.user.username}}</h6>
    <p  style="font-size: 13px;">{{comment.message|striptags}}</p>
  </div>
  <p class="mb-2 px-2 mb-1"style="font-size: 13px;">{{comment.createDate|date('Y-m-d H:i:s')}}</p>
  </div>
  </div>
  
  {% endfor %}
<div id="loadCommentsContainer">
</div>
  {% if totalComments >5 %}
  <div class=" d-flex justify-content-center my-4">
   <a id="a" data-load data-trick="{{trick.id}}" data-total="{{totalComments|number_format }}" data-offset="0">
 <button class="btn btn-dark btn-sm " id="js-loadmore">Load more</button></a>
   </div>
  
  
 

   {% endif %}
   {% endif %}
   
  </div>
  </div>
</section>

</main>
{% endblock %}
{% block js %}
<script type="text/javascript" src={{asset('js/loadMoreComments.js')}}></script>
{% endblock %}