{% extends 'base.html.twig' %}

{% block title %}{{trick.name|title|striptags}}{% endblock %}

{% block body %}

   <main class='container' id="trick">
   <section >
    <!--main image-->
    <div class="p-5 mb-5 text-center mainImage " style="background-image: url(' {{asset('img/image_tricks/'~ trick.images.first.path)}}');">
      <h1 class="mt-5 mb-4 titleTrick">{{trick.name|title|striptags}}</h1>
    </div>
    <div class="text-end"> 
      <a class="mx-1"href="#!" role="button"><i class="fas fa-1x fa-pencil-alt text-right fa-sm"></i></a>
       {% include 'trick/_delete_form.html.twig' %}
  </div>
 
    </section>
      
   
    <section>
     <!-- Gallery -->
     <div class="d-flex justify-content-center" >
     <a id="galleryButton" class="flex col-4 mb-4 btn btn-primary d-md-none d-lg-none d-xl-none " data-bs-toggle="collapse" href="#gallery" role="button" aria-expanded="false" aria-controls="collapseExample">
      Voir les images </a>
    </div>
  <!--class collaspe when small screen-->
  <div id="gallery" class="collapse d-md-block d-lg-block d-xl-block">
  <div class="row d-flex justify-content-center">
  {% for image in trick.images %}
<div class="col-lg-2 col-sm-3 pb-4 mb-4 mb-lg-0">
  <div class="card mb-2">
    <img class="card-img-top" src="{{asset('img/image_tricks/'~ image.path)}}">
  </div>
</div> 
{% endfor %}
</div>
<div class="row d-flex justify-content-center">
  {% for video in trick.videos %}
<div class="col-lg-2 col-sm-3 pb-4 mb-4 mb-lg-0">
  <div class="card mb-2">
  <iframe class='embed-responsive-item'  src="https://www.youtube.com/embed/{{video.path|striptags}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> 
{% endfor %}

</div>
</section>
<!--content-->
<section class="d-flex justify-content-center">
<p class=" col-10 mb-4">{{trick.description|striptags}}</p>
</section>
  <!--badge-->
  <section class="text-center mb-4">
<span class="badge bg-secondary" title="le category">Catégorie: {{trick.category}}</span>
<span class="badge bg-secondary">Auteur: {{trick.user.username}}</span>
<span class="badge bg-secondary"title ="la date de création">Publié le {{trick.createDate|date("m/d/Y") }}</span>
<span class="badge bg-secondary" title ="la date de modification">Mis à jour le {{trick.updateDate|date("m/d/Y")}}</span>


</section>

<!--leave message-->
       {% include 'comment/_add_form.html.twig' %}
  <hr class="dotted">
<!--comment-->
<section> 
{% if trick.comments %}
{% for comment in trick.comments %}
<div class="row d-flex justify-content-center">
  <div class="col-md-1 col-2"><img src="{{asset(comment.user.image)}}" class="avatar text-right"></div>
  <div class="col-md-5 col-8">
  <div class=" bg-light px-2 p-1" style="border-radius: 10px;">
    <h6>{{comment.user.username}}</h6>
    <p  style="font-size: 13px;">{{comment.message|striptags}}</p>
  </div>
  <p class="mb-2 px-2 mb-1"style="font-size: 13px;">{{comment.createDate|date('Y-m-d H:i:s')}}</p>
  </div>
  </div>
  {% endfor %}
  {% endif %}
  
  
</section>
<!--pagination-->
<div id="loadMore" class="d-flex justify-content-center my-3"><a href=""class="btn btn-dark btn-sm">Load more</a></div>
</main>
{% endblock %}
{% block js %}/{% endblock %}