{% extends 'base.html.twig' %}

{% block title %} Inscription{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

  <main class="text-center"
    style="height:100%; background-image: url('{{asset('img/background.jpg')}}');background-position: right center;
    ">
        <section id="login"
      class="form-signin p-4 d-flex row justify-content-center">


    {{ form_start(registrationForm,{'attr':{'class':'col-md-4'}}) }}
    <img class="mb-4"src="{{asset('img/icon.png')}}"alt="icon" width="57" height="57" />
    <h1 class="h3 mb-3 fw-bold title">
    Créer un compte
    </h1>
    <div class="form-floating">
        {{ form_widget(registrationForm.username, {'attr':{'class':'form-control mb-1'}}) }}
     <label for="floatingInput">Nom d'utilisateur *</label>
      {{ form_errors(registrationForm.username) }}
      </div>
       <div class="form-floating">
        {{ form_widget(registrationForm.email, {'attr':{'class':'form-control mb-1'}}) }}
        <label for="floatingInput">Adresse email *</label>
         {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-floating">
        {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form-control mb-1'}}) }}          <label for="floatingPassword">Mot de passe *</label>
        {{ form_errors(registrationForm.plainPassword) }}
        </div>
    
        <p>Choisir l’image de votre compte </p>
        <div>
        {{ form_widget(registrationForm.image, {'attr':{'class':'d-none'}})}}
          {% for child in registrationForm.image %}
           <div class="form-check form-check-inline mb-2">
            <input class="form-check-input" type="radio" name={{ registrationForm.vars.id ~ '[' ~ registrationForm.image.vars.name ~ ']' }} value="{{ child.vars.value}}" />
            <label for="{{ child.vars.id }}" class="required form-check-label">
           <img class="avatar" src="{{asset('img/image_profiles/'~child.vars.value)}}" />
           </label>
           </div>
         {% endfor %}
         </div>    
        <div class="d-flex justify-content-center mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr':{'class':' mb-1'}}) }}
        </div>

        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Se enregister</button>
         <div class="mb-1">
          <a href="{{path('app_login')}}">Se connecter?</a>
        </div>
        <p class="mt-5 mb-3 text-muted">
          &copy; 2021
        </p>
    {{ form_end(registrationForm) }}
          </section>
{% endblock %}
